/* Navbar Styles */
.navbar {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .logout-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  